@use '../../utils' as *;

/*----------------------------------------*/
/*  4.2 Mobilemenu css
/*----------------------------------------*/

.tp-offcanvas-menu {
    margin-bottom: 40px;
    & ul{
        list-style: none;
        & li {
            position: relative;
            
            & > a{
                padding: 8px 0;
                display: block;
                font-size: 15px;
                font-weight: 500;
            }
            
            &:not(:last-child){
                & > a{
                    border-bottom: 1px solid rgba(1, 15, 28, 0.1);
                }
            }
            &.active{
                & > a{
                    color: var(--tp-common-black-light);
                }
                & > .tp-menu-close{
                    color: var(--tp-common-white);
                    background: var(--tp-common-black);
                    border-color: var(--tp-common-black);
                    & i{
                        @include tp-transform(rotate(90deg));
                    }
                }
            }
            & .tp-submenu {
                display: none;
                padding-left: 20px;
            }
        }
    }
}
.tp-menu-close {
    position: absolute;
    right: 0;
    top: 6px;
    height: 30px;
    width: 30px;
    font-size: 12px;
    line-height: 29px;
    text-align: center;
    border: 1px solid rgba(1, 15, 28, 0.12);
    & i{
        transition: all .3s;
    }
}